﻿@model final_plataforma.Models.Carro;

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito 🛒</h1>




<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.producto_Carro)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.producto.nombre)
                </td>
                <td>
                    @item.producto.precio
                </td>
                <td>
                    <form asp-action="quitaritem" display="inline">
                        <input type="number" class="form-control" name="id" value="@item.id" style="display: none;">
                        <input type="submit" value="➖" class="btn btn-dark" />
                    </form>
                    <p display="inline"> @item.cantidad </p>
                    <form asp-action="agregaritem" display="inline">
                        <input type="number" class="form-control" name="id" value="@item.id" style="display: none;">
                        <input type="submit" value="➕" class="btn btn-dark" />
                    </form>
                </td>
                <td>
                    @(item.producto.precio * @item.cantidad)
                </td>
                <td>
                    <form asp-action="eliminaritem">
                        <input type="number" class="form-control" name="id" value="@item.id" style="display: none;">
                        <input type="submit" value="eliminar ❌" class="btn btn-dark" />
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

<form asp-action="comprar">
    <input type="number" class="form-control" name="id" value="@Model.usuario_id" style="display: none;">
    <input type="submit" value="Comprar 💳" class="btn btn-dark" />
</form>
<br />
<form asp-action="vaciar">
    <input type="number" class="form-control" name="id" value="@Model.id" style="display: none;">
    <input type="submit" value="Vaciar Carrito 📌" class="btn btn-dark" />
</form>

<a asp-controller="Mercado" asp-action="Index">volver</a>
<a asp-controller="Home" asp-action="Index">cerrar session</a>