﻿@model IEnumerable<final_plataforma.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}

<h1>Mis Compras</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                Lista Productos 📻🧰🎮
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    💲  @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Producto 📺
                                </th>
                                <th>
                                    cantidad 📚
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item2 in item.producto_compra)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.producto.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.cantidad)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Mercado" asp-action="Index">volver</a>
<a asp-controller="Home" asp-action="Index">cerrar session</a>