﻿@model final_plataforma.Models.Usuario

@{
    ViewData["Title"] = "✏ Editar informacion personal";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group" style="display: none;">
                <label asp-for="dni" class="control-label"></label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nuevo password</label>
                <input type="password" class="form-control" name="nuevoPassword">
            </div>
            <div class="form-group">
                <label>ingrese nuevamente el nuevo password</label>
                <input type="password" class="form-control" name="nuevoPassword2">
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="tipo" class="control-label"></label>
                <input asp-for="tipo" class="form-control" />
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="cuil" class="control-label"></label>
                <input asp-for="cuil" class="form-control" />
                <span asp-validation-for="cuil" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="id_carro" class="control-label"></label>
                <input asp-for="id_carro" class="form-control" />
                <span asp-validation-for="id_carro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Mercado" asp-action="Index">volver</a>
    <a asp-controller="Home" asp-action="Index">cerrar session</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
