﻿<h1>Ocurrio un error al realizar la compra! 🙇‍♂️🙇‍♀️</h1>
<h2>Podes volver a intentar la compra mas tarde</h2>

<a asp-controller="Mercado" asp-action="Index">volver</a>
<a asp-controller="Home" asp-action="Index">cerrar session</a>