﻿@model IEnumerable<final_plataforma.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>E-Shop</h1>
<h3>Bienvenido @ViewBag.nombre</h3>
<a asp-action="compras">Mis compras 🛍</a>
<a asp-action="cuenta">Cuenta 🙍‍♂️</a>
<a asp-action="Carrito">ver carrito (@ViewBag.cantProductos)🛒 </a>
<br />


@using (Html.BeginForm())
{
    <p>
        Nombre: @Html.TextBox("nombreProd")
        Categoria: @Html.TextBox("nombreCateg")
        <input type="submit" value="🔍" />
    </p>
}
<a asp-action="Index">Limpiar busqueda</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NombreSortParm })
            </th>
            <th>
                @Html.ActionLink("Precio", "Index", new { sortOrder = ViewBag.PrecioSortParm })
            </th>
            <th>
                @Html.ActionLink("Cantidad", "Index", new { sortOrder = ViewBag.CantidadSortParm })
            </th>
            <th>
                @Html.ActionLink("Categoria", "Index", new { sortOrder = ViewBag.CategoriaSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.nombre)
                </td>
                <td>
                    @if (((IList<int>)ViewBag.productosEnCarro).Contains(item.id))
                    {
                        <p>🛒</p>
                    }
                    <form asp-action="Agregar">
                        <input type="number" class="form-control" name="id" value="@item.id" style="display: none;">
                        <a asp-action="Agregar"></a>
                        <input type="submit" value="Agregar" class="btn btn-dark" />
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index">cerrar session</a>
