﻿<h1>Compra realizado con exito! 🎉</h1>
<h2>puede ver el detalle de su compra desde "Mis compras"</h2>



<a asp-controller="Mercado" asp-action="Index">volver</a>
<a asp-controller="Home" asp-action="Index">cerrar session</a>