﻿@model IEnumerable<final_plataforma.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}
<div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<h1>Compras</h1>

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                Lista Productos 📻🧰🎮
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                💲  @Html.DisplayFor(modelItem => item.total)

            </td>
            <td>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Producto 📺
                            </th>
                            <th>
                                cantidad 📚
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @item.usuario_compra[0].usuario.id
                        @item.usuario_compra[0].usuario.nombre
                        @item.usuario_compra[0].usuario.apellido
                        @foreach (var item2 in item.producto_compra)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.producto.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.cantidad)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
