﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvendido! 🏪</h1>


    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">🚪 Ingresar</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Registro" asp-action="Index">📋 Registrarse</a>
</div>
