﻿@model final_plataforma.Models.Usuario

@{
    ViewData["Title"] = "Login";
}


<h4>Ingresar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dni" class="control-label"></label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">volver al inicio</a>
</div>

@if (TempData["bloqueado"] != null)
{
    <script type="text/javascript">
    alert("Usuario bloqueado");
    </script>
}
@TempData["msg1"]
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
